body{
  font-family: 'Rubik';
  background-color: #f5f5f5;
}

.main{
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

.main>div{
  border-radius: 5px;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.25);
}

.year{
  height: 500px;
  width: 100%;
  background-color: white;
}

.year-chart{
  width: 100%;
  height: 500px;
}

.year-chart rect{
  fill: steelblue;
}

.year-chart text{
  fill: white;
  font-size: 16px;
  text-anchor: end;
}
